body {
    font-family: Helvetica, Arial, sans-serif;
    color: var(--color-white);
    background-color: var(--color-black);
}

.grid {
    background: var(--color-black);
    padding: var(--size-xl);
    font-size: var(--size-xl);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--size-sm)
}

.grid>div {
    padding: var(--size-md);
}