@import "normalize.css/opinionated.css";
:root {
    --color-black: #222;
    --color-white: whitesmoke;
    --color-red: rgb(199, 42, 15);
    --color-green: rgb(102, 202, 102);
    --color-mint: rgb(184, 223, 184);
    --color-yellow: rgb(235, 235, 147);
    --color-purple: rgb(99, 48, 99);
    --color-blue: rgb(48, 79, 99);
    --color-cyan: rgb(51, 125, 173);
    --color-aqua: rgb(48, 99, 92);
    --size-base: 10px;
    --size-xxl: 3rem;
    --size-xl: 2rem;
    --size-lg: 1.5rem;
    --size-md: 1rem;
    --size-sm: .5rem;
    --size-xs: .25rem;
}

body {
    font-size: var(--size-base);
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

div {
    font-size: var(--size-md);
    font-weight: 700;
}

.bg-black {
    background-color: var(--color-black);
}

.bg-purple {
    background-color: var(--color-purple);
}

.bg-white {
    background-color: var(--color-white);
}

.bg-red {
    background-color: var(--color-red);
}

.bg-green {
    background-color: var(--color-green);
    color: var(--color-black);
}

.bg-yellow {
    background-color: var(--color-yellow);
    color: var(--color-black);
}

.bg-purple {
    background-color: var(--color-purple);
}

.bg-blue {
    background-color: var(--color-blue);
}

.bg-mint {
    background-color: var(--color-mint);
    color: var(--color-black);
    font-weight: 700;
}

.bg-cyan {
    background-color: var(--color-cyan);
}

.bg-aqua {
    background-color: var(--color-aqua);
}